$niceBlue: #41a5c2;
$brownish: #d0c793;
.jumbotron {
  background-color: $niceBlue;
}

.repo_name{
  font-weight: bold;
  color: $niceBlue;
}

.results{
  display: none;

}

#repo_search{
  display: none;
}
body{
  background-color: $brownish;
}
